<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/bindUser.css" />
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
</head>

<body>
<div class="am-panel am-panel-default gj-top">
    <div class="am-container">
        <div class="am-panel-bd">
            <img data-th-src="${userinfo.thumb}" class="am-circle am-fl" width="140" height="140" />
            <div class="gj-userinfo">
                <h2 data-th-text="${userinfo.username}">徐教授</h2>
                <p>工号:<span data-th-text="${userinfo.workNumber}">0001</span></p>
                <p>职务:<span data-th-text="${userinfo.duty}">普通员工</span></p>
            </div>
        </div>
    </div>
</div>
<div class="am-container">
    <form class="am-form">
        <fieldset>
            <ul class="am-nav">
                <li class="am-active am-margin-bottom"><i class="am-icon-user am-text-primary"></i><span class="am-margin-left-xs">完善个人资料</span></li>
            </ul>
            <div class="am-form-group">
                <label for="input-name">姓名</label>
                <input type="text" id="input-name" name="name" class="am-form-field am-radius">
            </div>

            <div class="am-form-group">
                <label for="input-phone">手机号</label>
                <input type="text" id="input-phone" name="telphone" class="am-form-field am-radius">
            </div>
            <div class="am-form-group">
                <label for="input-random">验证码</label>
                <input type="text" id="input-random" name="randomCode" class="am-form-field am-radius">
                <img src="/random.jpg"/>
            </div>
            <button type="submit" class="am-btn am-btn-primary am-btn-block am-radius">提交</button>
        </fieldset>
    </form>
</div>
<footer class="am-panel am-panel-default am-padding-bottom-sm" style="margin-bottom: 0px;border: none;">
    <div class="am-container">
        <ul class="am-nav gj-textalign-center">
            <li>版权所有 翻版必究</li>
            <li>北京市XXX科技发展有限公司</li>
        </ul>
    </div>
</footer>
</body>

</html>