body{
	background-color: #FFF;
}
header,section{
	background-color: #FFF;
}
form{
	background: #DDDDDD;
}
form fieldset{
	padding: 0 !important;
}
.gj-action-item{
	text-align: center;
	padding: 10px 5px;
}
section.gj-action-list{
	margin-top: 5px !important;
}
section.gj-action-list .gj-action-item > a{
	color: #fec810 !important;
	background-color: #333333;
}
#agree-check{
	margin: 0 auto !important;
	margin-top: 5px !important;
	text-align: center;
}
#agree-check label{
	line-height: 14px;
    display: inline-block;
}
#agree-check a{
	font-size: 14px;
	color: #fec810;
}
.am-form .am-input-group{
	width: 100%;
	background-color: #FFF;
	padding: 2px 15px;
}
.am-form .gj-block{
	width: 100%;
	background-color: #FFF;
	margin-top: 5px !important;
	padding: 10px;
}
.gj-rules{
	font-size: 14px;
}
.am-form button{
	/*width: 90% !important;*/
}
.am-breadcrumb{
	background-color: #FFF !important;
}
.am-form .am-form-file{
	width: 100%;
	min-height: 150px;
}
div.gj-qrimage{
	width: 148px;
	height: 148px;
	margin: 0 auto !important;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 148px;
	text-align: center;
	color:#CCC;
}
div.gj-qrimage img{
	width: 100%;
	height: 100%;
}
.am-breadcrumb a{
	color: #333333;
}
.am-form .am-input-group-label{
	background-color: #333333;
	border-color: #333333;
	color: #fec810 !important;
}
.am-form .am-form-field:focus{
	border:1px solid #fec810 !important;
}