body{
	background-color: #DDDDDD;
}
section{
	background-color: #FFF;
}
*{
	margin: 0 !important;
}
div.gj-banklist{
	padding: 2px;
}
.gj-banklist > div{
	padding: 2px;
}
.gj-banklist .gj-banklist-item{
	border: solid 1px #DDDDDD;
	text-align: center;
	padding: 10px 5px;
}
hr.gj-line{
	border: 1px solid #DDDDDD;
	border-top: none;
	margin: 0 !important;
	position: relative;
	top: 1.4rem;
	margin: 0 5px !important;
}
.gj-banklist-item img{
	width: 70px;
	height: 70px;
}
.gj-banklist-item .am-badge{
	position: relative;
	z-index: 100;
}
.gj-action-item{
	text-align: center;
	padding: 10px 5px;
}
section.gj-action-list .gj-action-item > a{
	color: #fec810 !important;
	background-color: #333333;
}
.am-breadcrumb a{
	color: #333333;
}
[class*=am-u-]+[class*=am-u-]:last-child{
	float: left;
}