.txt_s {
    font-size: 12px;
}

.txt_sm {
    font-size: 13px;
}

.txt_m {
    font-size: 14px;
}

.txt_ml {
    font-size: 15px;
}
.txt_l {
    font-size: 16px;
}

.txt_xl {
    font-size: 18px;
}

.txt_xl_half {
    font-size: 17px;
}
.txt_xxl {
    font-size: 20px;
}

.txt_xxxl {
    font-size: 22px;
}

.txt_xxxxl {
    font-size: 24px;
}

.txt_xxxxxl {
    font-size: 26px;
}

.txt_xxxxxxl {
    font-size: 28px;
}